.parameters {
    margin: auto;
    display: block;
    margin-top: 10px;
    width: 80%;
}
.parameters a {
    font-size: 12px;
}

select {
    height: 30px;
    width: 100%;

    border-style: none;
    background-color: #d8d8d8;
}

#ddl_select_pattern{
    margin-bottom: 20px;
}